<%- include("./partials/header")  %>
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/">Todo App</a>
</nav>

<div class="container mt-5">
    <form action="/add" method="POST" class="d-flex">
        <input type="text" name="title" class="form-control mx-2" placeholder="Enter Title of Todo">
        <input type="text" name="description" class="form-control" placeholder="Enter a brief description of Todo">
        <input type="submit" value="Add Todo" class="btn btn-md btn-primary mx-2">
    </form>

    <div class="row my-5 ">
    <% todo.forEach(todos => { %>
        <div class="card col-lg-4 my-2">
            <div class="card-body">
            <h5 class="card-title"><%= todos.title %></h5>
            <p class="card-text"><%= todos.description %></p>
            <p class="card-text"><small class="text-muted"><%= todos.time %></small></p>
            </div>
            <div class="container row ml-1 mb-2">
                <a href="/delete/<%= todos._id %>" id="deleteTodo" class="btn btn-danger btn-sm col-4 mr-2">Delete</a>
                <a href="/get/update/<%= todos._id %>" class="btn btn-warning btn-sm col-4 mr-2">Update</a>
            </div>
        </div>
    <% }) %>
</div>
</div>

<%- include("./partials/footer")  %>